body {
  /*background: #343a40;*/
  background:#000;
  /*background-image: linear-gradient(15deg, #000 0%, #9EACB4 100%);*/
  /*background-image: linear-gradient(15deg, #ddcccc 0%, #eeeedd 100%);*/
  color: #343a40;
}

a {
  color: #303030;
  text-decoration: none;
  background-color: transparent;
}

.bg-silver {
  background-image: linear-gradient(15deg, #000 90%, #ccc 100%);
  background: #000;
}

.navbar-light .navbar-brand {
  color: #f0f0f0;
}

.navbar-light .navbar-nav .nav-link {
  color: #f0f0f0;
}

.canvas {
  border: none;
  background: #fff;
  margin:0;
  padding: 0;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #f0f0f0;
  background-color: #666;
}
